*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
    justify-content: center;
    /* background: #1c2841; */
}
.login-page{
    justify-content: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    
}
.bg{
    color: aquamarine;
}
.head{
    /* color: black; */
    top: 20%;
    position: absolute;
    /* padding: 0px 0px 10px 0px; */
}   

.ca{
    display: flex;
    /* margin-right: 1000px ; */
    justify-content: center;
    /* border: 1px solid black; */
}

.input{
    width: 680px;
    color: black;
    position: relative;
    line-height: 30px;
    height: 80px;
}
.input1{
    position: absolute;
    /* top: 40px; */
    width: 80%;
}
.input1 > input{
    position: absolute;
    color: white;
    /* height: 80px; */
    width: 100%;
    outline: none;
    padding: 0 30px;
    line-height: 30px;
    border-radius: 10px;
    border: 2px solid white;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
    
}
.input2{
    position: absolute;
    top: 40px;
    width: 80%;
}
.input2 > input{
    position: absolute;
    margin-left: 4.5px ;
    color: white;
    /* height: 80px; */
    width: 100%;
    outline: none;
    padding: 0 30px;
    line-height: 30px;
    border-radius: 10px;
    border: 2px solid white     ;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
    
}
.label1{
    /* position: absolute; */
    font-size: 1em;
    color: white;
    /* padding: 1 px; */
    /* margin: 0 25px; */
    transition: 0.2 ease;
}
.label2{
    /* position: absolute; */
    font-size: 1em;
    color: white;
    /* padding: 0 25x; */
    /* margin: 0 25px; */
    transition: 0.2 ease;
}

.button1{
    position: absolute;
    color: black;
    margin-left: 15% ;
}
.button2{
    display: flex;
    position: absolute;
    margin-left: 25%;
    top:430px;
}
.req{
    color: red;
}
.login-page{
  background-image: url("./images/1.jpg");
  /* height: 670px; */
  background-size:cover;
  background-repeat: no-repeat;
  /* min-height: 85.1vh; */
}