* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    /* justify-content: center; */
    /* display: flex; */
    /* background: #1c2841; */
}

.login-page {
    /* justify-content: center; */
    /* position: absolute; */
    display: flex;
    min-height: 100vh;
    align-items: center;
    margin-left: 0px;

}

.bg {
    color: aquamarine;
}

.head {
    /* color: black; */
    top: 20%;
    margin-left: -31%;
    position: absolute;
    /* padding: 0px 0px 10px 0px; */
}

.ca {
    display: flex;
    /* margin-right: 1000px ; */
    justify-content: center;
    /* border: 1px solid black; */
}

.input {
    width: 400px;
    /* color: black; */
    position: absolute;
    left: 37%;
    margin-left: -33%;
    top: 40%;
    /* top:50%; */
    line-height: 30px;
    height: 80px;

    /* border: 3px solid yellow; */
}

.head {
    position: absolute;
    left: 41%;
    top: 20%;
}

.input1 {
    position: absolute;
    /* top: 40px; */
    width: 80%;
}

.input1>input {
    position: absolute;
    color: white;
    /* height: 80px; */
    width: 100%;
    outline: none;
    padding: 0 15px;
    line-height: 30px;
    border-radius: 10px;
    border: 2px solid white;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;

}

.input2 {
    position: absolute;
    top: 40px;
    width: 80%;
}

.input2>input {
    position: absolute;
    margin-left: 4.5px;
    color: white;
    /* height: 80px; */
    width: 100%;
    outline: none;
    padding: 0 15px;
    line-height: 30px;
    border-radius: 10px;
    border: 2px solid white;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;

}

.label1 {
    /* position: absolute; */
    font-size: 1em;
    color: white;
    padding: 1 px;
    margin: 0 25px;
    transition: 0.2 ease;
}

.label2 {
    /* position: absolute; */
    font-size: 1em;
    color: white;
    padding: 0 25x;
    margin: 0 25px;
    transition: 0.2 ease;
}

.button1 {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: absolute;
    /* color: black; */
    /* margin: 0px 0px 0px -100px; */
    margin-left: -30%;
    width: 100px;
    top: 66%;
}

.button1:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(0deg);

}

.button2 {
    display: flex;
    /* margin: 0px 0px 0px 30px; */
    position: absolute;

    margin-left: 5%;
    /* margin-left: */
    top: 67%;
}

.req {
    color: red;
}

.login-page {
    background-image: url("./images/home1.jpg");
    /* height: 670px; */
    /* background-size:cover; */
    /* background-repeat: no-repeat; */
    /* min-height: 85.1vh; */
}

.container1 {
    /* position: absolute; */
    border: 3px solid rgb(205, 50, 50);  
    width: 33%;
    margin-left: -60%;
    height: 450px;
    backdrop-filter: blur(2px);     
}
